<div class="jumbotron">
    <div class="container">
        <div class="form-group" width="100%" style="float:right">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3" style="text-align:center">
                <h3>DASHBOARD</h3>

                <div>
                    <pre>

                        <!-- Dashboard Content Area here-->














                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>